/* Global font for body */
body {
    font-family: 'Open Sans', Arial, sans-serif;
}

/* Specific font for headings */
h1,
h2,
h3 {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}

/* Navbar link styles */
.navbar-nav .nav-link {
    color: #000;
    /* Black text */
    padding: 10px 15px;
}

/* Navbar hover effect */
.navbar-nav .nav-link:hover {
    color: #007BFF;
}